{% extends 'shared/layout.html' %}

{% block maincontent %}
<div class="row">
  <div class="column a"></div>
  <div class="column b" style="background-color: white; font-family: 'Oswald', sans-serif; font-size: larger;"><span><strong>
      Joey Vesche </strong></span>is currently a student attending Michigan State Universiy, studying
      in Computer Science to optain a Bachelor of Science Degree. <br>
      <br>
      Joey was raised in Novi, Michigan, where he grew up playing hockey and later Varsity for Novi High School, all while maintaing a
      high GPA. He currently resides in Lansing, Michigan where he works as a Server at LongHorn Steakhouse while in school. <br>
      <br>
      Joey has working knowledge in C++, Python, CSS, HTML, JavaScript, SQL, Java, C, and Arm Assembly. He has two older brothers, both
      of which obtain degress in Computer Science, which sparked his intrest.<br>
      <br>
      He is flexable, able to take on challenges that he may face. He is also adaptable, he can adapt to any situation without 
      conforntation, but is also not shy, he is outgoing and always looking for a challenge. He is not afraid to ask questions so he can
      be the best individual in whatever position or task that has been assigned. His occuptional goals are to graduate from Michigan
      State University's College of Engineering with a degree in Computer Science with a top GPA, and would like to get into a company
      where he can use his skills in Software/Web development, gaining as much experience as possible.
      
      </div>
</div>
<!-- Another block of content -->
<hr>

<p>A fun fact about me: <b>{{fun_fact}}</b> </p>
{% endblock %}